<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <style>
        .page {
            font-weight: 900;
            height: 40px;
            text-align: center;
            color: #888;
            margin: 20px auto 0;
            background: #f2f2f2;
        }

        .pagelist {
            font-size: 0;
            background: #fff;
            height: 50px;
            line-height: 50px;
        }

        .pagelist span {
            font-size: 14px;
        }

        .pagelist .jump {
            border: 1px solid #ccc;
            padding: 5px 8px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 5px;
        }

        .pagelist .bgprimary {
            cursor: default;
            color: #fff;
            background: #337ab7;
            border-color: #337ab7;
        }

        .jumpinp input {
            width: 55px;
            height: 26px;
            font-size: 13px;
            border: 1px solid #ccc;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            text-align: center;
        }

        .ellipsis {
            padding: 0px 8px;
        }

        .jumppoint {
            margin-left: 30px;
        }

        .pagelist .gobtn {
            font-size: 12px;
        }

        .bgprimary {
            cursor: default;
            color: #fff;
            background: #337ab7;
            border-color: #337ab7;
        }

        .pagelist .jump.disabled {
            pointer-events: none;
            background: #ddd;
        }
    </style>
    <script type="text/javascript" src="js/vue1.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
    <link rel="stylesheet" href="js/layui/css/layui.css">
    <!--		<link rel="stylesheet" href="style/login2.css">-->
    <script src="js/layui/layui.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/axios.min.js"></script>

</head>
<body>
<div id="container">
    <!--Top Start!-->
    <div id="top">
        <div class="topBar">
            <div class="inner clearfix">
                <h4>用户管理</h4>
                <div class="contact topItem">
                    <h3><a href="#">联系我们<i></i></a></h3>

                </div>
                <div class="userBar topItem">
                    <h3><a href="#">{{username}}<i></i></a></h3>
                    <div class="dropdown">
                        <a @click="logout()" >退出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Top End!-->

    <!--Main Start!-->
    <div id="main">
        <div class="content">
            <div class="contBox bgf9">

                <div class="prolistHead clearfix">
                    <a class="prolist1 active" href="3project_list.html" target="_self">用户管理</a>

                </div>

                <div class="prolist">
                    <table border="1" cellspacing="0" cellpadding="0" border-collapse="collapse" width="100%">
                        <tr>
                            <th><i>卡号</i></th>
                            <th width="12.222%">用户名</th>
                            <th><i>性别</i></th>
                            <th><i>身份证号</i></th>
                            <th><i>电话</i></th>
                            <th>联系地址</th>
                            <th>账户状态</th>
                            <th>操作</th>
                            <!--								<th width="32%">网址</th>-->

<!--                            <th width="18.333%">操作时间</th>-->
                        </tr>
                        <tr v-for="item in items">
                            <td>{{ item.card }}</td>
                            <td>{{ item.username  }}</td>
                            <td>{{ item.gender  }}</td>
                            <td>{{ item.idcard }}</td>
                            <td>{{ item.tel }}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.state | stateFilter}}</td>
                            <td v-show="item.state==0"><button @click="stateSwitch(item.card,1)"  type="button" class="layui-btn layui-btn-normal">启用账户</button></td>
                            <td v-show="item.state==1"><button @click="stateSwitch(item.card,0)" type="button" class="layui-btn layui-btn-normal">禁用账户</button></td>
                            <!--                                <td><p>{{ item.website }}</p></td>-->
                        </tr>
                    </table>
                    <div>
                        <div class="page" v-show="show">
                            <div class="pagelist">
                                <span class="jump" :class="{disabled:pstart}" @click="jumpPage(--current_page)">上一页</span>
                                <span v-show="current_page>5" class="jump" @click="jumpPage(1)">1</span>
                                <span class="ellipsis" v-show="efont">...</span>
                                <span class="jump" v-for="num in indexs" :class="{bgprimary:current_page==num}"
                                      @click="jumpPage(num)">{{num}}</span>
                                <span class="ellipsis" v-show="ebehind">...</span>

<!--                                <span :class="{disabled:pend}" class="jump" @click="{current_page++}">下一页</span>-->
                                <span :class="{disabled:pend}" class="jump" @click="jumpPage(++current_page)">下一页</span>
                                <span v-show="current_page<pages-4" class="jump"
                                      @click="jumpPage(pages)">{{pages}}</span>


                            </div>
                        </div>
                    </div>
                    <!--						<div class="page">-->
                    <!--							<em>首页</em>-->
                    <!--							<i>上一页</i>-->
                    <!--							<a class="active" href="javascript:">1</a>-->
                    <!--							<a href="javascript:">2</a>-->
                    <!--							<a href="javascript:">3</a>-->
                    <!--							<a href="javascript:">4</a>-->
                    <!--							<a href="javascript:">5</a>-->
                    <!--							<a href="javascript:">6</a>-->
                    <!--							<i>下一页</i>-->
                    <!--							<em>尾页</em>-->
                    <!--							<p>第<span>1</span>页/共<span>20</span>页</p>-->

                    <!--							<input type="text" name="" id="" value="" />-->
                    <!--							<input class="searchBtn" type="submit" name="" id="" value="跳转" />-->
                    <!--						</div>-->

                </div>


            </div>

        </div>
    </div>
    <!--Main End!-->
</div>
<script>

    var example1 = new Vue({
        el: '#container',
        data: {
            username: '',
            items: [],
            current_page: 1, //当前页
            pages: 2, //总页数
            // changePage:'',//跳转页
            nowIndex: 0
        },
        computed: {
            show: function () {
                return this.pages && this.pages != 1
            },
            pstart: function () {
                return this.current_page == 1;
            },
            pend: function () {
                return this.current_page == this.pages;
            },
            efont: function () {
                if (this.pages <= 7) return false;
                return this.current_page > 5
            },
            ebehind: function () {
                if (this.pages <= 7) return false;
                var nowAy = this.indexs;
                return nowAy[nowAy.length - 1] != this.pages;
            },
            indexs: function () {

                var left = 1,
                    right = this.pages,
                    ar = [];
                if (this.pages >= 7) {
                    if (this.current_page > 5 && this.current_page < this.pages - 4) {
                        left = Number(this.current_page) - 3;
                        right = Number(this.current_page) + 3;
                    } else {
                        if (this.current_page <= 5) {
                            left = 1;
                            right = 7;
                        } else {
                            right = this.pages;

                            left = this.pages - 6;
                        }
                    }
                }
                while (left <= right) {
                    ar.push(left);
                    left++;
                }
                return ar;
            },
        },
        mounted() {

            this.username = this.getCookie("username");
            this.getList();

        },
        filters: {

            stateFilter(value) {
                var type=value+'';
                var res='';
                if(type=='0') {
                    res='已禁用';
                }
                if(type=='1') {
                    res='已启用';
                }
                return res;
            }

        },
        methods: {
            getList(){
                axios.get('/api/user/list', {
                    params: {
                        pageNum: this.current_page-1,
                        pageSize: 10
                    }
                })
                    .then((response) => {
                        this.pages = response.data.totalPages;
                        this.items = response.data.content;
                        console.log(response.data)
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            stateSwitch(card,newState){
                axios.post('/api/user/state', {
                    card,
                    newState
                })
                    .then((response)=> {
                        console.log(response);
                        this.getList();
                    })
                    .catch((error)=> {
                        console.log(error);
                        example1.tip='系统错误，请稍后再试!';
                        var othis = $(this), method = "offset";
                        active[method] ? active[method].call(this, othis) : '';
                    });
                console.log(card)
            },
            logout(){
                this.delCookie('card');
                this.delCookie('username');
                window.top.location="/api/user/admin/logout";
            },
            jumpPage(id) {
                this.current_page = id;
                axios.get('/api/user/list', {
                    params: {
                        pageNum: id-1,
                        pageSize: 10
                    }
                })
                    .then((response) => {
                        this.pages = response.data.totalPages;
                        this.items = response.data.content;
                        console.log(response.data)
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            setCookie(name,value) {
        var Days = 30;
        var exp = new Date();
        exp.setTime(exp.getTime() + Days*24*60*60*1000);
        document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
    },
    //读取cookies
            getCookie(name) {
                var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");

                if (arr = document.cookie.match(reg))

                    return unescape(arr[2]);
                else
                    return null;
            },

            //删除cookies
            delCookie(name) {
                var exp = new Date();
                exp.setTime(exp.getTime() - 1);
                var cval = this.getCookie(name);
                if (cval != null)
                    document.cookie = name + "=" + cval + ";expires=" + exp.toGMTString();
            }

        }
    })
</script>

</body>

</html>
